name: Build STM32 Bare-Metal lessons

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        project:
          - 0_led_toggle_addr
          - 1_led_toggle_addr_struct
          - 2_gpio_output
          - 3_gpio_bsrr
          - 4_gpio_input
          - 5_uart_tx
          - 6_uart_tx_printf
          - 7_uart_tx_modular
          - 8_uart_rx
          - 9_adc_single_conversion
          - 10_adc_continuous_conversion
          - 11_systick_delay
          - 12_timers
          - 13_OutputCompare
          - 14_InputCapture
          - 15_InputInterrupt

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install ARM GCC toolchain
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-arm-none-eabi binutils-arm-none-eabi make

      - name: Build ${{ matrix.project }}
        working-directory: ${{ matrix.project }}
        run: |
          make
